<div class="container w-75 p-2 rounded-0 bg-danger">
  <div class="row m-2">
    <button type="button" class="col me-1 btn btn-primary btn-lg" id="1v1">1 vs 1</button>
    <button type="button" class="col ms-1 btn btn-primary btn-lg" id="tournament">Tournament</button>
  </div>
  <div id="1v1-container" class="row m-2 p-2 text-center d-none bg-success-subtle">
    <h1>1v1</h1>
    <p>Select a player to play against</p>
    <input type="text" class="col form-control" id="player-input" placeholder="Enter player name">
  </div>
  <div class="row m-2">
    <div id="tournament-container" class="container rounded-0 m-0 p-2 text-center d-none bg-info-subtle">
      <h1>Tournament</h1>
      <p>Select a players to play against</p>
      <input type="text" class="form-control mb-2" id="player-input" placeholder="Enter player name">
      <input type="text" class="form-control mb-2" id="player-input" placeholder="Enter player name">
      <input type="text" class="form-control mb-2" id="player-input" placeholder="Enter player name">
    </div>
  </div>
</div>