<!-- TODO-GV: display history of games -->
<!-- TODO-GV: display history of games -->
{% load static %}
<script src="{% static 'js/index/history.js' %}"></script>
<div class="history m-10 mb-0 d-flex flex-column justify-content-center h-100" id="history-content-container">
  {{ user_id }}
    <div class="stats-content rounded d-flex flex-column mt-2">
      <h5 class="text-center">Game Statistics</h5>
      <span class="text-danger pt-1">Games Lost: {{ user_stats.games_lost }}</span>
      <span class="text-success pt-1">Games Won: {{ user_stats.games_won }}</span>
      <span class="text-warning pt-1">Games Played: {{ user_stats.games_played }}</span>
      <span class="pt-1">Goals Scored: {{ user_stats.goals_scored }}</span>
      <span class="pt-1">Goals Conceded: {{ user_stats.goals_received }}</span>
      </div>
    </div>
    <div class="history-content d-flex flex-column mt-2">
      <div class="game-list w-100 overflow-auto">
        {% for game in game_history %}
        <div
          class="game-entry d-flex justify-content-between align-items-center p-2 mb-2"
        >
          <span class="result {{ game.result }}">
            {% if game.result == "win" %} Win {% else %} Lose {% endif %}
          </span>
          <span class="opponent">vs {{ game.opponent }}</span>
          <span class="score">{{ game.score }}</span>
        </div>
        {% endfor %}
      </div>
    </div>
</div>
