<div class="history text-center d-flex flex-column justify-content-center">
	<div class="tabs-container d-flex justify-content-center">
		<div class="history-tab tab">
			history
		</div>
		<div class="stats-tab tab">
			statistics
		</div>
	</div>
	<div class="content-container">
		<div class="history-content overflow-auto">
			<div class="game-list">
				{% for game in current_user_games %}
					<div class="game-entry d-flex justify-content-between align-items-center p-2 mb-2">
						<span class="result {% if game.winner_id == user_id %}win{% else %}lose{% endif %}">
							{% if game.winner_id == user_id %}Win{% else %}Lose{% endif %}
						</span>
						<span class="opponent">
							Against {% if game.player1_id == user_id %}{{ game.player2_name }}{% else %}{{ game.player1_name }}{% endif %}
						</span>
						<span class="score">
							{% if game.player1_id == user_id %}
								{{ game.player1_score }}-{{ game.player2_score }}
							{% else %}
								{{ game.player2_score }}-{{ game.player1_score }}
							{% endif %}
						</span>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="stats-content">
			<div class="stats-row top-row">
				<span class="stat-item losses">{{ losses }} Losses</span>
					<span class="stat-item wins">{{ wins }} Wins</span>
			</div>
			<div class="stats-row middle-row">
				<span class="stat-item games-played">{{ games_played }} Games Played</span>
			</div>
			<div class="stats-row bottom-row">
				<span class="stat-item goals-scored">Goals Scored: {{ goals_scored }}</span>
				<span class="stat-item goals-conceded">Goals Conceded: {{ goals_conceded }}</span>
			</div>
		</div>
	</div>
</div>