{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>transcendence | auth</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <!-- js -->
    <script src="{% static 'js/login.js' %}"></script>

</head>
<body>

    <!-- login form -->
    <div class="d-flex justify-content-center align-items-center vh-100">
        <form method="post">
            {% csrf_token %}
            <a href="/" class="btn auth-button">Go to Index</a>
        </form>
    </div>

</body>
</html>