<script>
	var userId = {{ user.id }};
</script>
<div class="container justify-content-center">
	<div class="header d-flex justify-content-center align-items-center">
		Account Information
	</div>
	<div class="profile-content-container d-flex flex-column justify-content-between">
		<div class="info-container">
	
			<!-- nickname -->
			<div class="info-row d-flex justify-content-between align-items-center">
				<div class="info-type">
					Nickname:
				</div>
				<!-- nickname -->
				<div class="info-data" id="nickname">
					{{ user.username }}
				</div>
				<!-- new nickname input -->
				<input class="change-input justify-content-center p-2" id="editNicknameInput" placeholder="new nickname">
				<!-- nickname edit button -->
				<div class="change-button btn btn-outline-primary" id="editNicknameButton">
					Edit
				</div>
				<!-- nickname confirm button -->
				<div class="change-button btn btn-outline-primary" id="confirmNicknameButton">
					Confirm
				</div>
			</div>
	
			<!-- 2fa -->
			<div class="info-row d-flex justify-content-between align-items-center">
				<div class="info-type">
					2fa pwd:
				</div>
				<!-- new password input -->
				<input class="change-input d-flex justify-content-center p-2" placeholder="new password">
				<!-- password edit button -->
				<div class="change-button btn btn-outline-primary" id="editPasswordButton">
					Confirm
				</div>
			</div>
			
			<!-- avatar -->
			<div class="info-row d-flex justify-content-between align-items-center">
				<label class="choose-file-button d-flex justify-content-center align-items-center" for="imageInput">
					Choose File
				</label>
				<!-- new avatar input -->
				<input id="imageInput" type="file" accept="image/*"/>
				<!-- file name -->
				<span class="file-name d-flex justify-content-start" id="fileName">No files chosen</span>
				<!-- edit avatar button -->
				<div class="change-button btn btn-outline-primary" id="editAvatarButton">
					Confirm
				</div>
			</div>
	
			<!-- Add more if needed.... -->
			<div class="info-row">
				add more if needed....
			</div>
		</div>
		<div class="exit-button-container d-flex justify-content-center">
			<div class="profile-exit-button btn btn-outline-primary" id="profileExitButton">
				back to game
			</div>
		</div>
	</div>
</div>

<!-- change nickname -->
<!-- change avatar -->
<!-- create or change 2fa password -->