<!-- account infos -->
<div class="account-infos d-flex justify-content-between align-items-center p-1" id="accountInfos">
	<!-- account avatar -->
	<div class="account-avatar">
		<img src="{{ user.avatar_url }}" />
	</div>
	<!-- account full name -->
	<div class="account-user d-flex align-items-center">
		<div class="account-username" id="accountUsername">{{ user.username }}</div>
	</div>
	<!-- logout button -->
	<div class="account-logout">
		<form action="{% url 'logout' %}" method="post">
			{% csrf_token %}
			<button href="" class="btn btn-outline-primary logout-button" type="submit">Logout</button>
		</form>
	</div>
</div>
