.auth-button {
    background-color: #0d6efd;
    color: #FFFFFF;
}

.auth-button:hover {
    background-color: #0066ff;
    color: #FFFFFF;
}

.button.auth-button:active,
.btn.auth-button:active {
    background-color: #0066ff;
    color: #FFFFFF;
    transition-duration: 1ms;
}

.auth-input {
    color: #B0BEC5;
    background-color: #1D2733;
    border: none;
}

.auth-input:focus {
    color: #B0BEC5;
    background-color: #1D2733;
    border: none;
}

.auth-input::placeholder {
    color: #5C7080;
}

#login42Button {
    background-color: rgba(235, 12, 12, 0.764);
}

#login42Button:hover {
    background-color: rgba(217, 14, 14, 0.764);
}

#navButton {
    background-color: #131722;
    border: solid 1.5px #0d6efd;
}

#navButton:hover {
    color: #0066ff;
}

#navButton:active {
    border: solid 1.5px white;
}

.custom-file-upload label {
    cursor: pointer;
}

#fileName {
    color: white;
    max-width: 60%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
