.sidebar-container {
    height: 100%;
	width: 400px;
    border-right: 3px solid #232b3f;
    color:  #c0c0c0;
}

/* Friend */

.friend-container {
    height: 50%;
	overflow: scroll;
    border-bottom: 3px solid #232b3f;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.friend-container::-webkit-scrollbar {
    display: none;
}

.list {
    width: 100%;
    cursor: pointer;
}

.list-title {
    font-size: 300;
    font-weight: 400;
    border-bottom: 2px solid;
    margin-bottom: 10px;
}

.user {
    max-height: 35px;
    font-weight: 300;
    font-size: 200;
    border-radius: 10px;
    padding: 5px;
    padding-right: 6px;
    padding-left: 6px;
    cursor: pointer;
}

.user:hover {
    background-color: #232b3f;
}

.user-button {
    margin-left: 5px;
    font-size: larger;
}

/* .user-status {

} */

.request-actions {
    width: 30px;
}

.accept-request-button {
    color: green;
}

.decline-request-button {
    color: red;
}

.add-button {
    overflow: hidden;
    width: 20%;
    font-size: small;
    padding: 2px;
}

/* Content */

.sidebar-content-container {
	height: 50%;
}