/* account info */

.account-infos {
	height: 80%;
	background-color: #232b3f;
	border-radius: 30px;
	cursor: pointer;
}

.account-avatar {
	height: 100%;
	margin-right: 10px;
}

.account-avatar img {
	height: 100%;
	border-radius: 100%;
}

.account-user {
	margin-right: 10px;
}

.account-username {
    font-weight: 500;
}

/* .account-logout {

} */

.logout-button {
    border-radius: 30px;
}