.container {
	width: 40%;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 200px;
	border-radius: 30px;
	background-color: #232b3f;
	overflow: hidden;
}

.header {
	height: 12%;
	width: 100%;
	padding: 3px;
	font-weight: 600;
	font-size: x-large;
	border-bottom: 3px solid #131722;
}

.profile-content-container {
	height: 88%;
	padding-top: 12px;
	padding-bottom: 12px;
}

.info-container {
	font-weight: 400;
	font-size: larger;
}

.info-row {
	margin-bottom: 25px;
}

.info-type {
	width: 130px;
}

.info-data {
	width: 250px;
}

.change-button {
	height: 35px;
	width: 82px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.change-input {
	height: 35px;
	width: 250px;
	background-color: #131722;
	border-radius: 8px;
	border: none;
	color: #c0c0c0;
}

.change-input::placeholder {
	font-size: medium;
	color: #5C7080;
}

#confirmUsernameButton {
	display: none;
}

#editUsernameInput {
	display: none;
}

#activate_deactivate_2fa {
	margin-right: 18px;
}

#password2fa {
	display: none;
}

#oldPasswordInput {
	display: flex;
}

#newPasswordInput {
	display: none;
}

#editPasswordButton {
	display: flex;
}

#confirmPasswordButton {
	display: none;
}

.choose-file-button {
	height: 45px;
	width: 110px;
	font-size: large;
	border-radius: 10px;
	background-color: #0d6efd;
	color: #ededed;
	cursor: pointer;
}

#imageInput {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.file-name {
	width: 250px;
}

.exit-button-container {
	width: 100%;
}