<!-- chat title -->
<div class="chat-header d-flex align-items-center">
	<div class="chat-back left">&#9664;</div>
	<div class="chat-title center">global chat</div>
	<div class="spacer"></div>
</div>
<!-- chat -->
<div class="chat">
	{% for message in fake_global_chat_messages %}
	<div>
		<div class="chat-message"><span class="chat-sender">{{ message.name }}:</span> {{ message.message }}</div>
	</div>
	{% endfor %}
</div>
<!-- chat input -->
<input class="chat-input" placeholder="enter message here">