{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FT_TRANSCENDENCE</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <script src="{% static 'bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}"></script>

</head>
<body>
    <div class="d-flex flex-column justify-content-center text-center p-2">
        <h1>FT_TRANSCENDENCE</h1>
    </div>
</body>
</html>