{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>transcendence</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <!-- js -->
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/topbar.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    
</head>
<body class="p-0 m-0">

    <!-- Topbar -->
    <div class="topbar-container d-flex align-items-center justify-content-between">
        <!-- Topbar -->
    </div>

    <!-- Page -->
    <div class="page-container d-flex">
        <div class="sidebar-container p-2">
            <!-- Sidebar -->
        </div>
        <div class="content-container">
            <!-- Game / Profile -->
        </div>
    </div>
    
</body>
</html>