<div class="friend-container">
	<div class="list" id="friend-list">
		<div class="list-title d-flex justify-content-start">Friends</div>

		{% for friend in fake_friends %}
			<div class="user d-flex justify-content-between align-items-center">
				<div>
					<div class="user-name">{{ friend.username }}</div>
				</div>
				<div class="d-flex justify-content-end">
					<div class="user-button user-status" style="{% if friend.status == 'online' %}color: green;{% else %}color: red;{% endif %}">&#8226;</div>
				</div>
			</div>
		{% endfor %}

	</div>

	<div class="list" id="friend-requests-list">
		<div class="list-title d-flex justify-content-start">Friend Requests</div>

		{% for friend in fake_friend_requests %}
		<div class="user d-flex justify-content-between align-items-center">
			<div>
				<div class="user-name">{{ friend.username }}</div>
			</div>
			<div class="request-actions d-flex justify-content-between align-items-center">
				<div class="accept-request-button" type="submit">&#10003;</div>
				<div class="decline-request-button" type="submit">x</div>
			</div>
		</div>
		{% endfor %}
		
	</div>

	<div class="list" id="add-friend-list">
		<div class="list-title d-flex justify-content-start">Add Friends</div>

		{% for friend in fake_add_friends %}
		<div class="user d-flex justify-content-between align-items-center">
			<div class="user-name">{{ friend.username }}</div>
			<button class="btn btn-outline-primary add-button" type="submit">Add</button>
		</div>
		{% endfor %}
		
	</div>
</div>

<div class="sidebar-content-container d-flex justify-content-center">
	<!-- sidebar-content -->
</div>