<div class="friend-container">

	<!-- friend list -->
	<div class="list">
		<!-- friend list title -->
		<div class="list-title d-flex justify-content-between p-2" id="friend-list-title">
			<div>Friends</div>
			<div id="friend-list-title-arrow">&#9654;</div>
		</div>

		<!-- friend list content -->
		<div class="list-content" id="friend-list-content">
			{% for friend in fake_friends %}
				<!-- User -->
				<div class="user d-flex justify-content-between align-items-center">
					<!-- User name  -->
					<div>
						<div class="user-name">{{ friend.username }}</div>
					</div>
					<!-- User status  -->
					<div class="d-flex justify-content-end">
						<div class="user-button user-status" style="{% if friend.status == 'online' %}color: green;{% else %}color: red;{% endif %}">&#8226;</div>
					</div>
				</div>
			{% endfor %}
		</div>

	</div>

	<!-- friend requests list -->
	<div class="list">
		<!-- friend requests title -->
		<div class="list-title d-flex justify-content-between p-2" id="friend-requests-list-title">
			<div>Friend Requests</div>
			<div id="friend-requests-list-title-arrow">&#9654;</div>
		</div>
		
		<!-- friend requests content -->
		<div class="list-content" id="friend-requests-list-content">
			{% for friend in fake_friend_requests %}
			<!-- User -->
			<div class="user d-flex justify-content-between align-items-center">
				<!-- User name -->
				<div>
					<div class="user-name">{{ friend.username }}</div>
				</div>
				<!-- User requests actions -->
				<div class="request-actions d-flex justify-content-between align-items-center">
					<div class="accept-request-button" type="submit">&#10003;</div>
					<div class="decline-request-button" type="submit">x</div>
				</div>
			</div>
			{% endfor %}
		</div>
		
	</div>

	<!-- add friend list -->
	<div class="list">
		<!-- add friend list title -->
		<div class="list-title d-flex justify-content-between p-2" id="add-friend-list-title">
			<div>Add Friends</div>
			<div id="add-friend-list-title-arrow">&#9654;</div>
		</div>
		
		<!-- add friend list content -->
		<div class="list-content" id="add-friend-list-content">
			{% for friend in fake_add_friends %}
			<!-- User -->
			<div class="user d-flex justify-content-between align-items-center">
				<!-- User name -->
				<div class="user-name">{{ friend.username }}</div>
				<!-- User add button -->
				<button class="btn btn-outline-primary add-button" type="submit">Add</button>
			</div>
			{% endfor %}
		</div>
	</div>

</div>

<div class="sidebar-content-container d-flex justify-content-center">
	<!-- sidebar-content -->
</div>