#stats-content {
  background-color: #232b3f;
  color: #c0c0c0;
}

#history-content::-webkit-scrollbar {
  display: none;
}

.game-entry {
  background-color: #232b3f;
  border-radius: 8px;
  color: #c0c0c0;
}

.win {
  background-color: #28a745;
  color: #ffffff;
}

.lose {
  background-color: #dc3545;
  color: #ffffff;
}
