#stats-content {
  color: #c0c0c0;
}

.stat-item {
  background-color: #232b3f;
  border-radius: 8px;
  color: #c0c0c0;
  padding: 2px 2px;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  text-justify: center;
  align-items: center;
  justify-items: center;
}
.stat-item > p {
  margin: 0;
}

.stat-item:first-child {
  margin-right: 5px;
}

#history-content::-webkit-scrollbar {
  display: none;
}

.game-entry {
  background-color: #232b3f;
  border-radius: 8px;
  color: #c0c0c0;
  margin-bottom: 5px;
}

.game-entry .date,
.game-entry .mode {
  font-size: 0.8rem;
}

.game-entry .date {
  margin-right: 10px;
}

.win {
  background-color: #28a745;
  color: #ffffff;
}

.lose {
  background-color: #dc3545;
  color: #ffffff;
}
