html, body {
    height: 100%;
    width: 100%;
    background-color: #131722;
    color:  #c0c0c0;
}

#sidebarContainer {
    width: 400px;
    border-right: 3px solid #232b3f;
    color:  #c0c0c0;
}

#topbarContainer {
    display: flex;
    min-height: 45px;
    height: 6%;
    width: 100%;
}

#profileContainer {
    display: flex;
    height: 94%;
}

#gameContainer {
    display: none;
    height: 94%;
}
